@model Coach
@{
    ViewData["Title"] = "Create Coach";
}

<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-3">
        <div class="card-header bg-primary text-white text-center">
            <h2>👨‍🏫 Register a new coach</h2>
        </div>
        <div class="card-body bg-light">
            <form asp-action="Create" method="post">

                <div class="mb-3">
                    <label class="form-label"> 👨‍🏫 Coach name :</label>
                    <input asp-for="FullName" class="form-control" placeholder="  Type the coach's name" />
                </div>

                <div class="mb-3">
                    <label class="form-label"> 🎂 Age:</label>
                    <input asp-for="Age" class="form-control" placeholder="exampl 30 " />
                </div>

                <div class="mb-3">
                    <label class="form-label">📞 Mobile number:</label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="05xxxxxxxx" />
                </div>

                <div class="mb-3">
                    <label class="form-label"> 📧 e-mail:</label>
                    <input asp-for="Email" class="form-control" placeholder="example@email.com" />
                </div>

                <div class="mb-3">
                    <label class="form-label">⚽ Specialization/Position  :</label>
                    <select asp-for="Position" class="form-control">
                        <option selected disabled value="">  Choose your Position </option>
                        <option value="Fitness"> Fitness trainer</option>
                        <option value="Tactics"> Tactical coach</option>
                        <option value="Goalkeeping"> Goalkeeper coach</option>
                        <option value="HeadCoach"> Head coach</option>
                    </select>
                </div>

                <div class="mb-3">
                    <label class="form-label">  🏆 The team he leads:</label>
                    <select asp-for="Teamleading" class="form-control">
                        <option selected disabled value=""> Choose the team</option>
                        <option value="U12">team U12</option>
                        <option value="U15">team U15</option>
                        <option value="U18">team U18</option>
                        <option value="FirstTeam">FirstTeam </option>
                    </select>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-lg px-4">
                        💾 Save
                    </button>
                    <a asp-action="Index" class="btn btn-secondary btn-lg px-4">
                        ↩ Back
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
